<h1>{{movie.title}}</h1>
<hr>
<img src="{{movie.image}}" />
<p>Writen by: {{movie.director}}</p>
<p>Stars: {{movie.stars}}</p>
<p>Summary: {{movie.description}}</p>
<br>
<p>{{movie.sshowtimes}}</p>
<a href="/movies"> Back to Movies </a>